; This file was created by Pawkie2 on wo, okt 18 at 22:38:48
channels = "#Pawkie"
cmdchar = "!"
configdir = "config"
datadir = "data"
debugfnc = "!parse"
debuglvl = 6
dynconfig = "configdir,datadir,dyndir,cmdchar"
dyndir = "dyn"
dynmaxlines = 4
geco = "Best boy in the world"
host = "127.0.0.1"
mimicmaxlen = 20
mimicmaxwords = 15
mimicminlen = 2
mimicminwords = 10
nick = "Pawkie2"
oneliners = "8ball amsterdams bassie bier bob carlin chuck churchill dooddoener duke fortune fuck johnny paulus proverb redguy rules wfh"
port = 6667
user = "Pawkie2"
